@using System.Web.Mvc;
@using System.Web.Mvc.Routing;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Razor;

@helper RawText(string s) {
    @(new HtmlString(s))
}

@helper MakeNote(string content) {
    <div class="note"
         style="border: 1px solid black; width: 90%; padding: 5px; margin-left: 15px;">
        <p>
            <strong>Note</strong>&nbsp;&nbsp; @content
        </p>
    </div>
}
